body {
  font-family: Lato;
}
ul{
  list-style: none
}
.status{
  width:5px;
  height: 5px;
  border-radius: 50%;
  display: block;
  float: left;
  margin: 0 5px;
  padding: 5px;
  background-color: red;
}
.status.checked-in{
    background-color: green;
}

li{
  border-bottom:1px solid #ddd;
  margin-bottom: 20px;
}